/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

$bold: "bold";
$regular: "regular";
$semibold: "semi-bold";

input:focus {
    outline: none;
}

.On {
    background-color: black;
    color: #ffff;

    body {
        color: #ffff;
    }

    .hamburger {


        .bar1,
        .bar2,
        .bar3 {
            background-color: #ffff;
        }
    }

    header {
        height: 12vh;

        img {
            transition: 3sec ease-in-out;
        }

        ul {
            li a {
                color: #ffff;
            }
        }

        &.open {
            background-color: black;
            width: 100%;
            height: 668px;

            ul {
                li a {
                    color: #ffff;
                }
            }


        }
    }

    .projects {
        .projeccts {
            .projeccts {
                .grup1 {
                    a {
                        color: #ffff;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .services {
        .card {
            color: black;
        }

        .items {
            .kit {
                color: black;
            }
        }
    }

}

.clik {
    .services p {
        max-height: auto;
    }
}

header {
    display: flex;

    span {
        color: rgb(218, 73, 70);
    }

    h2 {
        font-size: 25px;
        font-family: $semibold;
        margin-top: 30px;
        // color: rgb(218, 73, 70);

    }

    ul {
        display: none;
    }

    img {
        width: 11%;
        height: 6%;
        position: absolute;
        top: 27px;
        right: 75px;
        object-fit: contain;
    }




    .hamburger {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 28px;
        right: 19px;

        .bar1,
        .bar2,
        .bar3 {
            background-color: black;
            width: 35px;
            height: 5px;
            margin: 6px 0px;

        }
    }

    &.open {
        background-color: #ffff;
        width: 100%;
        height: 668px;


        ul {
            display: block;
            position: absolute;
            top: 206px;
            left: 95px;

            li a {
                color: black;
                text-decoration: none;
                font-size: 25px;
                font-family: $regular;
                line-height: 90px;
            }

        }

        .bar1 {
            transform: rotate(45deg) translate(6px, 7px)
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            transform: rotate(-45deg) translate(8px, -9px);
        }
    }
}

.banner {
    height: 88vh;

    .banner-img {
        width: 100%;
        height: 100vh;

    }

    span {
        color: rgb(218, 73, 70);
    }

    // text-align: center;
    margin-top: 140px;

    .item {

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 49px;

        .cent {
            // text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;


            h3 {
                font-size: 19px;
                font-family: $semibold;

            }

            h1 {
                font-size: 36px;
                font-family: $bold;
                margin-top: 5px;

            }

            p {
                font-size: 20px;
                font-family: $regular;

            }

            button {
                background-color: rgb(218, 73, 70);
                color: #ffff;
                border: none;
                margin: 10px 5px 20px 100px;
                padding: 10px;
                width: 41%;
                border-radius: 5px;
            }

            border-radius: 5px;
        }
    }
}





.about {

    margin-top: 50px;

    img {
        width: 100%;
    }

    .text {
        span {
            color: rgb(218, 73, 70);

        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        .abt {
            margin-left: 20px;
        }

        .top {
            margin: 50px 0 0 116px;
            font-size: 25px;
            font-family: $regular;
        }

        .bottom {
            font-size: 22px;
            font-family: $semibold;
            margin-top: 5px;
        }

        p {
            font-size: 15px;
            font-family: $regular;
        }

        .btn2 {
            background-color: rgb(218, 73, 70);
            color: #ffff;
            border: none;
            border-radius: 5px;
            width: 41%;
            padding: 10px;
            margin-left: 113px;
        }


    }
}


.projects {
    margin-top: 150px;

    img {
        width: 100%;
    }

    h2 {
        text-align: center;
    }

    .view {
        background-color: rgb(218, 73, 70);



    }

    .projeccts {

        position: relative;

        h3 {
            font-size: 15px;
        }

        .grup1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            img {
                width: 16%;
                position: absolute;
                top: 29px;
                left: 72px;

            }

            h3 {
                margin: 10px;
            }

        }

        .grup2 {
            display: flex;
            align-items: center;
            justify-content: center;

            h3 {
                margin: 10px;
            }

        }
    }

    h3 {
        margin-top: 20px;
        font-size: 25px;
        font-family: $semibold;
    }

    h4 {
        font-size: 20px;
        font-family: $regular;
    }

    p {
        font-size: 16px;
        font-family: $regular;
    }

    button {
        background-color: rgb(218, 73, 70);
        width: 38%;
        margin: 10px 0 10px 118px;
        border: none;
        border-radius: 8px;
        color: #ffff;
        padding: 8px;
    }

}

.services {
    margin-top: 50px;
    text-align: center;

    h2 {
        font-size: 25px;
        font-family: $semibold;
    }

    .items {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 400px;

        h3 {
            margin-top: 20px;
        }

        .kit {
            width: 20%;
        }

        .globe {
            width: 20%;
        }

        .press {
            width: 20%;
        }
    }


}





.connect {
    margin-top: 50px;
    text-align: center;

    span {
        color: rgb(218, 73, 70);
    }

    h2 {
        font-size: 25px;
        font-family: $semibold;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            border-bottom: 2px solid grey;
            border-top: none;
            border-left: none;
            border-right: none;

            padding: 10px 0;
        }
    }

    button {
        margin-top: 20px;
        width: 25%;
        border: none;
        background-color: rgb(218, 73, 70);
        color: #ffff;
        border-radius: 8px;
        padding: 10px;
    }
}

footer {

    background-color: rgb(218, 73, 70);
    margin-top: 50px;
    height: 17vh;




    ul {
        display: none;
    }

    .images {
        display: flex;
        // position: absolute;
        // top: 20px;
        // left: 100px;

        img {
            width: 30px;
            height: 30px;
            margin: 5px 10px;
            object-fit: contain;
        }
    }

    h3 {
        // position: absolute;
        // top: 74px;
        // left: 10%;
        color: #ffff;
        font-size: 20px;
        font-family: $regular;
    }
}



/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
    header {
        img {
            width: 8%;
            height: 10%;
            position: absolute;
            top: 28px;
            right: 75px;
        }

        &.open ul li a {
            margin-left: 170px;
            color: black;
            text-decoration: none;
            font-size: 25px;
            font-family: "regular";
            line-height: 90px;
        }
    }

    footer {
        h3 {
            top: 31px;
            left: 57%;

        }

        .images {
            top: 20px;
            left: 28px;
        }
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    header {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 35px;
            font-family: "semi-bold";
            margin-top: 43px;
        }

        img {
            top: 6px;
            right: 106px;
            object-fit: contain;
        }

        .hamburger {
            right: -14px;
            width: 11%;
            height: 7%;
            top: 97px;
        }

        &.open ul {

            left: 150px;
        }
    }


    .banner {
        height: 80vh;
        margin-top: 145px;

        span {
            color: rgb(218, 73, 70);
        }

        .main {
            margin-left: 14px;
        }



        .item {
            margin-top: 158px;

            .cent {
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: 70px;

                }

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 15px;
                }

                button {
                    width: 130px;
                    margin: 10px 5px 20px 0px;
                }
            }
        }

    }

    .about {
        img {
            width: 100%;
            // margin-top: 60px;
            margin-left: 200px;
        }

        .text {
            span {
                color: rgb(218, 73, 70);

            }

            .top {
                font-size: 35px;
                text-align: center;
            }

            .bottom {
                font-size: 41px;
                text-align: center;
            }

            p {
                font-size: 22px;
            }

            .btn2 {

                width: 138px;
                padding: 10px;
                margin-left: 274px;

            }
        }
    }

    .projects {
        h3 {
            margin: 55px 0 10px 0;
        }

        .view {
            width: 130px;
            margin: 10px 0 10px 287px;
        }

        .projeccts {

            .grup1 {
                margin-top: 20px;

                h3 {
                    font-size: 20px;
                }

                a {
                    color: black;
                    text-decoration: none;
                }

                img {
                    width: 8%;
                    position: absolute;
                    top: -24px;
                    left: 336px;
                }
            }
        }
    }

    .grup2 {
        h3 {
            font-size: 20px;
        }
    }





    img {

        margin-top: 60px;

    }


    .connect {
        span {
            color: rgb(218, 73, 70);
        }

        form {
            input {
                width: 75%;
                padding: 10px;
            }

            .messag {
                padding: 40px;
            }
        }


        button {
            width: 130px;
        }
    }

    footer {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 26px;

        .images {
            top: 38px;
            left: 47px;
        }

        h3 {
            top: 45px;
            left: 378px;
            font-size: 24px;
            font-family: "regular";
        }
    }




}














/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        height: 20vh;

        .hamburger {
            display: none;
        }

        ul {
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -43px;
            margin-left: 200px;

            li a {
                color: black;
                padding: 20px;
                font-family: $regular;
                text-decoration: none;
            }
        }

        img {
            width: 4%;
            height: 7%;
            right: 64px;
            top: 6px;
            top: 9px;
            object-fit: contain;


        }

        h3 {
            margin-top: 10px;
        }
    }

    .banner {
        height: 80vh;
        margin-top: 148px;

        span {
            color: rgb(218, 73, 70);
        }

        .main {
            margin-left: 75px;
        }


        img {
            width: 74%;
        }

        .item {
            .cent {
                button {
                    padding: 20px;
                    width: 182px;
                }

                h1 {
                    font-size: 101px;
                }

                h3 {
                    font-size: 39px;
                }

                p {
                    font-size: 29px;
                }
            }
        }

        h3 {
            margin-top: -151px;
        }

        p {
            line-height: 1.5;
            margin: 5px 0;
        }
    }

    .about {
        img {
            width: 74%;
            margin-left: 5px;

        }

        .text {
            

            .bottom {
                font-size: 29px;

            }

            span {
                color: rgb(218, 73, 70);

            }

            .top {
                font-size: 29px;
            }

            .btn2 {
                width: 140px;
                padding: 10px;
                margin: 20px 0 0 295px;

            }

            p {
                line-height: 1.5;
                margin: 5px 0;
                font-size: 15px;
            }
        }



    }

    .projects {
        .view {
            background-color: rgb(218, 73, 70);
            margin: 62px 0 0 600px;
        }

        h2 {
            font-size: 29px;
        }

        h3 {
            margin: 170px 20px 10px 0;
        }

        img {
            width: 100%;

        }

        button {
            margin: 50px 0 10px 509px;
        }

    }



    // .tigzoz-pic{
    //     margin-left: 10px;
    // }
    .services {
        .items {
            margin-top: 65px;
            height: 500px;
        }

        h2 {
            font-size: 29px;
        }
    }

    .connect {
        margin-top: 100px;

        span {
            color: rgb(218, 73, 70);
        }

        h2 {
            font-size: 29px;
        }

        button {
            margin-top: 50px;
            width: 10%;
            padding: 15px;
        }

        form input {
            width: 50%;
            padding: 10px;
        }

    }

    footer {
        height: 11vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 200px;

        .images {
            object-fit: contain;
        }

        h3 {
            font-size: 20px;
            font-family: $regular;
            top: 38px;
            left: 1036px;
        }

        ul {
            display: flex;
        }

        li a {
            color: #ffff;
            padding: 20px;
            font-family: $regular;
            text-decoration: none;
        }

    }

}















/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {}